* {
box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Google Sans, Arial, sans-serif;
  color: black;
}

h2 {
  font-family: "Libre Caslon Condensed", serif;
  text-transform: uppercase;
}
